/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    ;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-blue, .mat-simple-snackbar-action {
    background-color: #444c54;
    color: white;
}

.tooltip-container {
    color: white;
}

.tooltip-category {
    text-align: center;
    margin: 0.1rem;
}

.tooltip-container>.field-container {
    width: 10rem;
    display: flex;
    justify-content: space-between;
}
/* .field-name{

} */